.container {
  margin-top: 150px;
  justify-content: center;
  display: flex;
  gap: 30px;
}

.card {
  flex-direction: column;
  display: flex;
  width: 250px;
  min-height: 500px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  text-align: center; 
}

.image-box img {
  width: 100%;
  height: 180px;
  object-fit: contain;
  border-radius: 30%;
}
h2 {
  font-family: "Roboto", sans-serif;
  font-size: 30px
}
p {
  font-family: "Roboto", sans-serif;
  color: rgba(8, 8, 8, 0.452);
}

.price {
  font-family: "Roboto", sans-serif;
  display: block;
  margin: 16px 0;
  font-size: 30px;
  font-weight: 700;
}

button {
  margin-top: auto;
  height: 50px;
  width: 100%;
  border: none;
  border-radius: 0 0 12px 12px;
  background-color: #09b34a;
  color: #fff;
  font-size: 16px;
  cursor: pointer;

}